<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tub Controls</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Link to styles.css -->
</head>

<body class="{% if dark_mode %}dark-mode{% endif %}">
    <h1 style="text-align: center">Reservoir Simulation</h1>
    <div class="container">
        <button id="graph-toggle" class="btn btn-primary" value="Click">Metrics</button>
        <button id="dark-mode-toggle" class="btn btn-primary" value="Click">Dark Mode</button>
        <div id = "tub_Container">
        <h4 style="text-align: center">Reservoir Level</h4>
        <div id="tub">
            <div id="water" style="height: {{ water_level }}%; width: 100%;"></div>
        </div>
        </div>
        <div class="chart">
            <h4 style = "text-align: center">Water Level Graph</h4>
            <canvas id="lineChart" style="width: 100%; height: 400px;"></canvas>
        </div>

        <div class="controls">
            <div class="energy-output">
                <h6>Total Current Energy Output:</h6>
                <p><span id="energy-output-value">0</span> kWh</p>
                <h6>Solar Energy Output:</h6>
                <p><span id="solar-output-value">0</span> kWh</p>
                <h6>Hydro Energy Output:</h6>
                <p><span id="hydro-output-value">0</span> kWh</p>
            </div>
            <div class="time">
                <h5>Time:</h5>
                <p id="time-value">0 years, 0 days, 0 hours</p>
            </div>
            <!---
            <h5>Controls:</h5>
            <form id="controls-form">
                <label for="temperature">Temperature:</label>
                <input type="range" id="temperature" name="temperature" min="0" max="100" value="{{ temperature }}">
                <span id="temperature-value">{{ temperature }}</span>
                <br>
                <label for="release">Release:</label>
                <input type="range" id="release" name="release" min="0" max="100" value="{{ release }}">
                <span id="release-value">{{ release }}</span>
                <br>
                <label for="inflow">Inflow:</label>
                <input type="range" id="inflow" name="inflow" min="0" max="100" value="{{ inflow }}">
                <span id="inflow-value">{{ inflow }}</span>
                <br>
                <label for="solar">Solar Panel Coverage:</label>
                <input type="range" id="solar" name="solar" min="0" max="100" value="{{ solar }}">
                <span id="solar-value">{{ solar }}</span>
                <br>
            </form>
            --->
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        // Redirecting to other page
        $(document).ready(function () {
                $('#graph-toggle').click(function () {
                    window.location.href = '/metrics'; 
                });
            });
        // Drawing the chart
        const ctx = document.getElementById('lineChart').getContext('2d');
        const myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        label: 'Water Level',
                        data: [],
                        fill: false,
                        borderColor: 'rgb(75, 192, 192)',
                        tension: 0.1
                    }]
                },
                options: {
                    scales: {
                        x: {
                            title: {
                                display: true,
                                text: 'Time (Hours)'
                            }
                        },
                        y: {
                            title: {
                                display: true,
                                text: 'Percent Full',
                            }
                        }
                    }
                }
            });
    </script>
</body>

</html>